<h3>MISSION</h3>
<p>The UFoP Math Club is a place for philomathes to congregate.
  Anyone regardless of species, planet of origin, genders, and affliations or lack thereof is welcome as long as their citizenship is registered with a Federation planet.
</p>
<p class="announcement">Reminder: 6/28 is Tau Day!</p>
<h3> GOALS: </h3>
<li>talk about our mutual love for math</li>
<li>have spoken math poetry</li>
<li>recite pi</li>
<li>do math competitions</li>
<li>eat two pie squared </li>
<li>have heated hypothetical math discussions (e.g., who would win in a fight Pascal or Euler?)</li>
<li>create math models to see when Florida will be completely under water</li>
<li>enhance our mathematical understanding through diversity</li>
