<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add New Member to Math Club</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Member Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Member Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Member Since:</label>
        <br>
        <input type="number" #newMemberSince>
      </div>

      <div>
        <label>Recites Pi to this digit:</label>
        <br>
        <input type="number" #newRecitesTo>
      </div>

      <div>
        <label>Fave Mathematician:</label>
        <br>
        <input #newFavoriteMathematician>
      </div>
      <button (click)="submitForm(
      newName.value,
      newTitle.value,
      newMemberSince.value,
      newRecitesTo.value,
      newFavoriteMathematician.value
      );
      newName.value='';
      newTitle.value='';
      newMemberSince.value='';
      newRecitesTo.value='';
      newFavoriteMathematician.value=''">Add</button>
    </div>
  </div>
</div>


<div>
  <app-club></app-club>
</div>
